* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/*index*/

.header{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: url(../imagenes/64240-barberia.jpg);
    opacity: 1;
    visibility: inherit;
    z-index: 20;
   
}
.menu{
    background-color: red;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgb(0, 0, 0, .6);
    align-items: center;
    position: fixed;
    top: 0;
}
.logo{
    color: aliceblue;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;  
}
.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}
.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: aliceblue;

}
.menu_items li:hover,li.active{
    background-color: rgb(71, 67, 67);
    transition: .4s;
}

.contenedor-main{
    background-image: linear-gradient(103deg, black, transparent);
    color: white;

}
.div-main{
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    padding: 30px;
}
h2{
    text-align: center;
}
.div-main p{
    width: 80%;
    font-size: 20px;
    line-height: 35px;
    font-size: italic;
    text-align: center;
    margin-top:20px ;
    margin-left: auto;
    margin-right: auto;
}

.div_grid{

    margin-top: 20px;
    padding: 20px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;   


}


img{
    border: solid 5px;
    border-color: white;
}

.card {
    width: 230 px;
    height: 260px;
    box-shadow: -5px -5px #a34141,
     0 0 10px rgb(0,0,0, .15);
    border-radius: 8px;
    overflow: hidden; 
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: revert;
    transition: transform .25s 
    ease-in-out;

}

.card:hover img{
    transform: scale(1.25)rotate(10deg);
}




footer

footer{
    width: 100%;
    margin-top: 50px;
}

footer .sociales {
    background: rgb(179, 164, 164);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 10px;
    align-items: center;
}

footer h4{
    width: 30%;
    float: left;
    padding: 25px;
}

footer .sociales a{
    font-size: 35px;
    color: #fff;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;

}

footer .sociales .facebook{
    color: blue;
}

footer .sociales .instagram{
    color: rgb(207, 109, 109);
}

footer .sociales .whatsapp{
    color: greenyellow;
}
/*servicios*/



.main-grid{
    background-color: black;
   
}
.titulo{
    text-align: center;
    color: white;
}

.h1-servicios{
    margin-top: 100px;
    font-family: Ultra;
    color: #856a13;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.20em;
}
.p-h1{
    max-width: 80%;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    font-size: 20px;
}





/*turnos*/




.form-registro{
    width: 350px;
    background-color: dimgrey;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.form-registro h3{
    font-size: 23px ;
    margin-bottom: 20px;
}

.controls{
    width:100%;
    background: #24303c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 17px;
    border: 2px solid blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
}
 .form-registro p{
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
 }

.form-registro a{
    color: white;
    text-decoration: none;

}
.form-registro a:hover{
    color: white;
    text-decoration: underline;

}

.form-registro .botons{

    width: 100%;
    background: blue;
    border: none;
    padding: 12px;
    color: aliceblue;
    margin: 16px 0;
    font-size: 16px;
}