* {
    margin: 0;
    padding: o;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.header{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: url(../imagenes/64240-barberia.jpg);
    opacity: 1;
    visibility: inherit;
    z-index: 20;

}
.menu{
    background-color: red;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgb(0, 0, 0, .6);
    align-items: center;
}
.logo{
    color: aliceblue;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;  
}
.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}
.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: aliceblue;

}
.menu_items li:hover,li.active{
    background-color: rgb(141, 129, 129);
    transition: .4s;
}

.contenedor-main{
    background-image: linear-gradient(103deg, black, transparent);
    color: white;

}
.div-h2{
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    padding: 30px;
}
.div-main p{
    width: 80%;
    font-size: 20px;
    line-height: 35px;
    font-size: italic;
    text-align: center;
    margin-top:20px ;
}
.div_grid{

    margin-top: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    grid-template-rows: 1fr 1fr;   

}


img{
    border: solid 5px;
    border-color: white;
}

.card {
    width: 230 px;
    height: 260px;
    box-shadow: -5px -5px #a34141,
     0 0 10px rgb(0,0,0, .15);
    border-radius: 8px;
    overflow: hidden; 
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: revert;
    transition: transform .25s 
    ease-in-out;

}

.card:hover img{
    transform: scale(1.25)rotate(10deg);
}

/*footer*/

footer{
    width: 100%;
    margin-top: 50px;
}

footer .sociales {
    background: rgb(179, 164, 164);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 10px;
    align-items: center;
}

footer p{
    width: 30%;
    float: left;
    padding: 25px;
}

footer .sociales a{
    font-size: 35px;
    color: #fff;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    text-decoration: none;

}

footer .sociales .facebook{
    color: blue;
}

footer .sociales .instagram{
    color: rgb(207, 109, 109);
}

footer .sociales .whatsapp{
    color: greenyellow;
}