.header{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: url(../imagenes/64240-barberia.jpg);
    opacity: 1;
    visibility: inherit;
    z-index: 20;
   
}
$colores: (
    primario:black,
    secundario:rgb(105, 96, 96)

);
footer{
    width: 100%;
    margin-top: 50px;
    display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px 10px;
        align-items: center;

    .sociales{

        background: map-get($colores , $secundario); 
       
        .p-sociales{
            width: 30%;
            float: left;
            padding: 25px;     
        }

        .facebook{
            color: blue;
        }
        .instagram{
            color: rgb(207, 109, 109);
        }
        .whatsapp{
            color: greenyellow;
        }
        



    }

}


