.header{
    width: 100%;
    height: 100vh;
    background{
        size:cover ;
        position: center top;
    }
    background-repeat: no-repeat;
    background-image: url(../imagenes/64240-barberia.jpg);
    opacity: 1;
    visibility: inherit;
    z-index: 20;

    .menu{
        background-color: red;
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        box-shadow: 5px 0 10px rgb(0, 0, 0, 60%);
        align-items: center;
        position: fixed;
        top: 0;

        .logo{
            color: aliceblue;
            font {
                size: 35px ;  
            }
            font-weight: bold;
            padding: 0 80px;
        
        }

        &_items{
            display: flex;
            list-style: none;
            margin-right: 30px;


            li{
                border-radius: 3px;
                margin: 0 5px;
                    
                li :hover, li .active{
                    color: rgb(71, 67, 67);
                    transition: .4s;
                }

                a {
                    padding: 7px 13px;
                    text-decoration: none;
                    font-size: 18px;
                    display: block;
                    text-transform: uppercase;
                    color: aliceblue;
                
                }


                

                


            }



        }

    
    }
}

.contenedor-main{
    background-image: linear-gradient(103deg, black, transparent);
    color: white;

    .div-main{
        font-weight: 400;
        font-size: 32px;
        text-transform: uppercase;
        padding: 30px;

        h2{
            text-align: center;
        }

        p{
            width: 80%;
            font-size: 20px;
            line-height: 35px;
            font-size: italic;
            text-align: center;
            margin-top:20px ;

        }

        &_grid{

            margin-top: 20px;
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr  1fr 1fr;
            grid-template-rows: 1fr 1fr; 
            
            
            .card {
                width: 230 px;
                height: 260px;
                box-shadow: -5px -5px #a34141,
                 0 0 10px rgb(0,0,0, .15);
                border-radius: 8px;
                overflow: hidden; 

                & :hover img{
                    transform: scale(1.25)rotate(10deg);
                }

                img{
                    
                        width: 100%;
                        height: 100%;
                        object-fit: revert;
                        transition: transform .25s 
                        ease-in-out;
                    
                    

                }




            }
        








        }












    }







}
/*maps*/
$red-social:(
    fb: blue,
    ig:red,
    wh:green,

);

@each $nombre, $valor in $red-social{
    .icon-#{nombre} {
        color: $valor;
    }

}

$colores:(

    base:#a198a1,
    principal:yellow,
    fondo:orange,
);

.muestra-color {
    background: map-get($colores , fondo );
}

/*extend*/

.btn .bnt--rojo {
    display: inline;
    width: 200px;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
}

.bnt--rojo{
    @extend .btn;
    background-color: red;
    color: white;
}

/* mixins*/

@mixin boton {
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(157, 157, 9);
    
}
.boton--danger{
    @include boton;
    background-color: red;
}


/*
footer{
    width: 100%;
    margin-top: 50px;

    .sociales{
        font-size: 35px;
    color: #fff;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    text-decoration: none;
    
    p{
        width: 30%;
        float: left;
        padding: 25px;
    }

    & .sociales a {
        font-size: 35px;
    color: #fff;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    text-decoration: none;

    .facebook{
        color: blue;
    }
    .instagram{
        color: rgb(207, 109, 109);
    }
    .whatsapp{
        color: greenyellow;
    }


    }
    }
}


